{% extends "base.html" %}
{% block content %}
<!-- user greet container with options for edit and add new recipe -->
<div class="container">
    <div class="row card-panel admin-welcome">
        <div class="col s12 center">
            <h4 class="admin-heading">Welcome, {{ session.user|capitalize }}</h4>
        </div>
        <div class="col s12 center">
            {% if session.user == 'user' %}
                <p>All of your recipes are stored here!</p>
                
            {% else %}
                <p>All of your recipes are stored here!</p>
                
            {% endif %}

            
        </div>
        
       
    </div>
</div>

{% endblock %}